src/main/mule/orders/orders-save-failure-handler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="secure-order-payload-on-failure" >
		<ee:transform doc:name="Transform Message" doc:id="dd573703-5294-4595-bba4-4ae028d9b5ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	delaySeconds: 30,
	body: write(payload,'application/json') as String,
	messageAttributes: {
		"correlationId": {
			"stringValue" : vars.correlationId,
			"dataType" : "String"
		} as Object {
			class: "org.mule.extension.sqs.api.model.MessageAttributeValue"
		},
		"errorDesc": {
			"stringValue" : vars.error.description,
			"dataType" : "String"
		} as Object {
			class: "org.mule.extension.sqs.api.model.MessageAttributeValue"
		}
	} as Object {
		class: "java.util.HashMap"
	}
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="bc71a268-a8e9-4a5f-8006-6d9fffbab647" >
			<when expression="#[attributes['sqs.message.receipt.handle'] != null]">
				<logger level="INFO" doc:name="Logger" doc:id="df0edf4a-be4d-441f-bdf9-514e219abdc4" message="Message in SQS.. not adding"/>
			</when>
			<otherwise >
				<sqs:send-message doc:name="Send message" doc:id="dfb214bd-8e25-4b94-8c38-3a4264d38567" config-ref="Amazon_SQS_Configuration" queueUrl="https://sqs.us-east-2.amazonaws.com/267705711664/orders-fail-safe">
		</sqs:send-message>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="db5e80b1-2eb7-45e2-a3a6-1f38ca64d99c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[403]]></ee:set-variable>
            </ee:variables>
		</ee:transform>




</flow>	
	

</mule>
